
.icon {
  background-image: url('../images/sprite.png');
}

.icon-btn_clear {
  background-position: -944px -408px;
  width: 182px;
  height: 88px;
}
.icon-btn_date {
  background-position: -476px -918px;
  width: 238px;
  height: 68px;
}
.icon-btn_display {
  background-position: -0px -918px;
  width: 238px;
  height: 68px;
}
.icon-btn_place {
  background-position: -238px -918px;
  width: 238px;
  height: 68px;
}
.icon-btn_result {
  background-position: -898px -644px;
  width: 214px;
  height: 68px;
}
.icon-concept-artists {
  background-position: -324px -862px;
  width: 340px;
  height: 38px;
}
.icon-concept-text {
  background-position: -408px -408px;
  width: 536px;
  height: 236px;
}
.icon-copy {
  background-position: -600px -363px;
  width: 527px;
  height: 38px;
}
.icon-header-logo {
  background-position: -600px -0px;
  width: 534px;
  height: 363px;
}
.icon-magazine-logo {
  background-position: -0px -408px;
  width: 408px;
  height: 454px;
}
.icon-make {
  background-position: -0px -862px;
  width: 324px;
  height: 56px;
}
.icon-no-posts {
  background-position: -408px -644px;
  width: 490px;
  height: 102px;
}
.icon-pattern {
  background-position: -408px -810px;
  width: 586px;
  height: 42px;
}
.icon-play {
  background-position: -944px -576px;
  width: 68px;
  height: 68px;
}
.icon-qr-rule {
  background-position: -898px -712px;
  width: 114px;
  height: 22px;
}
.icon-qr {
  background-position: -0px -0px;
  width: 600px;
  height: 408px;
}
.icon-rule-check-box-active {
  background-position: -1078px -496px;
  width: 38px;
  height: 30px;
}
.icon-rule-check-text {
  background-position: -878px -746px;
  width: 228px;
  height: 38px;
}
.icon-rule-close {
  background-position: -1012px -576px;
  width: 56px;
  height: 56px;
}
.icon-rule-link {
  background-position: -944px -496px;
  width: 134px;
  height: 44px;
}
.icon-rule-title {
  background-position: -944px -540px;
  width: 136px;
  height: 36px;
}
.icon-ttl_main {
  background-position: -408px -746px;
  width: 470px;
  height: 64px;
}
.icon-txt_main {
  background-position: -664px -862px;
  width: 309px;
  height: 29px;
}
.icon-videos-arrow {
  background-position: -1080px -540px;
  width: 26px;
  height: 36px;
}
