// ==========================================================================
//   State
// ==========================================================================

.is-hidden {
    display: none !important;
}

.is-fixed {
    position: fixed !important;
    width: 100%;
}

.is-absolute {
    position: absolute !important;
}

.is-lock {
    overflow: hidden;
}

.is-show {
    display: block !important;
}

/*
.is-hide {
    visibility: hidden;
}
*/

.is-invisible {
    opacity: 0;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}
