extend ../template/DefaultLayout

block BeforeHTMLBlock

block prepend Variables
  - 
    var meta = front.meta;
    meta.url = base.url + front.path;
  - 

block StylesheetBlock
  link(rel="stylesheet" href=base.css_dir + "style.css")

block ContentBlock
  #front
    h1 front

block prepend JavascriptBlock
